.places__item {
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(min-content, max-content);
  grid-gap: 48px 40px;
  grid-template-areas:
    "title link"
    "image description";
  padding: 0;
  margin: 0;
}

.places__item + .places__item {
  margin-top: 80px;
}

@media screen and (max-width: 1279px) {
  .places__item {
    grid-template-columns: minmax(340px, 440px) minmax(min-content, max-content);
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .places__item {
    grid-template-columns: minmax(320px, 340px) minmax(min-content, max-content);
    grid-gap: 48px 28px;
  }

  .places__item + .places__item {
    margin-top: 73px;
  }
}
